---
layout: default
---

<div class="home">
  {%- if page.title -%}
    <h1 class="page-heading">{{ page.title }}</h1>
  {%- endif -%}

  {{ content }}

  {%- if site.posts.size > 0 -%}
    <div class="p-4">
    <ul class="post-list d-flex justify-content-center flex-wrap card-group">
      {%- for post in site.posts -%}
      <li class=" border border-dark rounded-sm m-4 p-3 card">
        <a class="post-link" href="{{ post.url | relative_url }}">
        {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}

          <img class="card-image" src="{{ post.picture | escape }}">
          <div class="card-body">
            <span class="post-meta">{{ post.date | date: date_format }}  |  </span>
            <span class="text-dark post-meta">
              {{ post.writer | escape }}</span>
          <h4>
              {{ post.title | escape }}
          </h4>

        </div>
      </a>
        {%- if site.show_excerpts -%}
          {{ post.excerpt }}
        {%- endif -%}
      </li>
      {%- endfor -%}
    </ul>
  </div>
  {%- endif -%}

</div>
