---
layout: default
---

<div class="home">
  {%- if page.title -%}
    <h1 class="page-heading">{{ page.title }}</h1>
  {%- endif -%}

  {{ content }}

  {%- if site.posts.size > 0 -%}
    <div style="border: 1px solid grey; padding: 20px;">
    <ul class="post-list">
      {%- for post in site.posts -%}
      <li>
        <a class="post-link" href="{{ post.url | relative_url }}">
        {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
        <div class="d-flex">
          <div class="w-50 p-3"><img src="{{ post.picture | escape }}"></div>
          <div class="w-50 p-3">
            
            <span class="post-meta">{{ post.date | date: date_format }}  |  </span>
            <span class="text-dark post-meta">
              {{ post.writer | escape }}</span>
          <h4>
            
              {{ post.title | escape }}
            
          </h4>
          
          
          </div>
        </div>
      </a>
        {%- if site.show_excerpts -%}
          {{ post.excerpt }}
        {%- endif -%}
      </li>
      {%- endfor -%}
    </ul>
  </div>
  {%- endif -%}

</div>
