---
layout: default
---
<article class="post h-entry p-5 col-md-7 mx-auto" itemscope itemtype="http://schema.org/BlogPosting"
    style=" border-radius: 10px;
    border: 1px solid #e0e0e0;
    box-shadow: 0 4px 6px rgba(0, 0, 0, .06);">

    <header class="post-header">
        <div class="row">
            {%- if page.writer -%}
            <div class="col-12 mb-2" itemprop="author" itemscope itemtype="http://schema.org/Person"><span
                    class="p-author h-card" itemprop="name">{{ page.writer }}</span></div>
            {%- endif -%}

        </div>

        <h1 style="font-size:xx-large; font-weight: 700; line-height: 3rem;" class="post-title p-name"
            itemprop="name headline">{{ page.title | escape }}</h1>
        <p class="post-meta">
            <time class="dt-published" datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">
                {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
                {{ page.date | date: date_format }}
            </time>
        </p>
    </header>
    <div class="post-content e-content" itemprop="articleBody">
        {{ content }}
    </div>

    {%- if site.disqus.shortname -%}
    {%- include disqus_comments.html -%}
    {%- endif -%}

    <a class="u-url" href="{{ page.url | relative_url }}" hidden></a>
</article>